@font-face {
    font-family: 'BluenightRegular';
    src: url('fonts/BluenightRegular-x3n5K.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BluenightRegular', sans-serif;
    background-color: #152740;
    font-size: 30px;
    line-height: 1.8em;
    margin: 0;
    overflow: hidden;
}

.point-display{
    font-family: 'BluenightRegular', sans-serif;
    color: #FCFCFD;
    font-size: 50px;
    margin-top: 20px;
    transition: cubic-bezier(1, 1.4, 0.93, 1) 0.3s;
    text-shadow: -3px 0 2px black, 0 3px 2px black, 3px 0 2px black, 0 -3px 2px black, -3px -3px 2px black, -3px 3px 2px black, 3px -3px 2px black, 3px 3px 2px black;
}

.top-bar {
    display: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'BluenightRegular', sans-serif;
}

.top-bar-img {
    width: auto;
    height: 50px;
}

.bottom-bar {
    display: flex;
    justify-content: center;
}

.game-canvas {
    display: flex;
    transform-origin: left top;
    width: 1880px;
}

.cards-area {
    display: flex;
    flex-direction: column;
    transform-origin: left top;
    width: 1620px;
}

.explanation-bar {
    display: flex;
    flex-direction: column;
}

.explanation-bar-item, .pearl-index {
    width: 50px;
    height: 200px;
}

.headline {
    margin: 10px 20px;
    text-align: center;
    color: #FCFCFD;
}

.players {
    display: flex;
    justify-content: center;
}

.player1, .player2 {
    float: left;
    width: 650px;
    min-height: 300px;
    box-sizing: border-box;
}

.player1 {
    padding-right: 670px;
}

.player2 {
    float: right;
    padding-right: 10px;
}

.game-over {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    min-width: 230px;
    width: 650px;
    text-align: center;
    line-height: 0;
}

.card-img-container {
    display: inline-block;
    position: relative;
}

.card-image {
    width: 600px;
}

.header {
    text-align: center;
    width: 650px;
    color: #FCFCFD;
    font: 1em sans-serif;
    font-size: 22px;
}

.h1, h2 {
    padding: 44px;
    text-align: center;
    border: 4px solid pink;
}

.effectiveness_overlay, .sti-protection_overlay, .cost_overlay, .accessibility_overlay, .side-effects_overlay,
    .effectiveness_overlay_indicator, .sti-protection_overlay_indicator, .cost_overlay_indicator,
    .accessibility_overlay_indicator, .side-effects_overlay_indicator {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
}

.effectiveness_overlay_indicator, .sti-protection_overlay_indicator, .cost_overlay_indicator,
.accessibility_overlay_indicator, .side-effects_overlay_indicator {
    z-index: 0;
    animation-name: indicator_pulse_opacity;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    animation-timing-function: steps(48, end);
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}


@keyframes indicator_pulse_opacity {
    0% {opacity: 1.0}
    50% {opacity: 0.43}
    100% {opacity: 1.0}
}

.effectiveness_overlay, .effectiveness_overlay_indicator {
    top: 55.1%;
}

.sti-protection_overlay, .sti-protection_overlay_indicator  {
    top: 62.6%;
}

.cost_overlay, .cost_overlay_indicator  {
    top: 70.2%;
}

.accessibility_overlay, .accessibility_overlay_indicator  {
    top: 78.1%;
}

.side-effects_overlay, .side-effects_overlay_indicator  {
    top: 85.8%;
}

.effectiveness, .sti-protection, .cost, .accessibility, .side-effects {
    position: absolute;
    z-index: 2;
    right: 10%;
    color: darkcyan;
    font-size: 32px;
    text-shadow: -3px 0 2px black, 0 3px 2px black, 3px 0 2px black, 0 -3px 2px black,
        -3px -3px 2px black, -3px 3px 2px black, 3px -3px 2px black, 3px 3px 2px black;

}

.effectiveness {
    bottom: 39.0%;
}

.sti-protection {
    bottom: 31.3%;
}

.cost {
    bottom: 23.5%;
}

.accessibility {
    bottom: 15.7%;
}

.side-effects {
    bottom: 8.1%;
}

.effectiveness_label_img, .sti-protection_label_img, .cost_label_img, .accessibility_label_img, .side-effects_label_img {
    position: absolute;
    left: 10%;
    margin-top: 26px;
    z-index: 1;
}

.effectiveness_label_img {
    top: 55.1%;
}

.sti-protection_label_img {
    top: 62.6%;
}

.cost_label_img {
    top: 70.2%;
}

.accessibility_label_img {
    top: 78.1%;
}

.side-effects_label_img {
    top: 85.8%;
}


.next-round-button-container {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.next-round-button, .start-screen-button, .choose-attribute-button {
    display: flex;
    justify-content: center;
    width: 90px;
    height: 60px;
    font: 1em "Arial";
    font-size: 25px;
    background-color: #cab8ff;
    border: none;
    color:#F4EFEF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #d1c2fd, 0 3px 10px 0 #d1c2fd;
}

.choose-attribute-button {
    height: 26px;
    width: 210px;
    background-color: #0c0c0c;
    color: #d6d5df;
    box-shadow: 0 4px 8px 0 #ffffff70, 2px 3px 8px 0 #ffffff91;
    margin: 10px;
    font-size: 27px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    vertical-align: middle;
    font-weight: bold;
    line-height: 24px;
    font-family: sans-serif;
}

.start-screen-button {
    width: 160px;
    margin: 50px;
}

#back-to-game-button {
    width: 10em;
    height: 0.3em;
    font-size: 0.6em;
    padding: 1em 1em;
}

.next-round-button:hover {
    background-color: #e7e0fc;
    color:#152740;
}

.game-helper-text {
    background-color: #0000007a;
    color: #add0ed;
    font: 1em sans-serif;
    margin-top: 40px;
}

.tooltip {
    width: 50px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.tooltip {
    font-family: "Arial", sans-serif;
    font-size: 28px;
    line-height: 1.7;
    color: black;
}
.tooltip .tooltip-text-pearl-index {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #cab8ff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 2000;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-pearl-index {
    visibility: visible;
}

.tooltip .tooltip-text-STI {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #FFD33B;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-STI {
    visibility: visible;
}

.tooltip .tooltip-text-cost {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #FF66C4;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-cost {
    visibility: visible;
}

.tooltip .tooltip-text-accessibility {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #F4EFEF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-accessibility {
    visibility: visible;
}


.tooltip .tooltip-text-side-effects {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #B4F1F4;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-side-effects {
    visibility: visible;
}

.lib-top-bar {
    display: flex;
    justify-content: center;
    font: 1em sans-serif;
    color: #FCFCFD;
    padding-top: 15px;
    padding-bottom: 15px;
}


.card-lib-organizer {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.attribute-modal {
    display: none;
    width: 1235px;
    height: 100px;
    padding-top: 50px;
}

.attribute-modal-content {
    background-color: #304560;
    margin: auto;
    padding: 6px;
    border: 2px solid #598a99;
    width: 100%;
    height: 320px;
}

.attribute-modal-content-text {
    font-family: "Arial", sans-serif;
    font-size: 28px;
    line-height: 1.7;
    color: #bfdeed;
    text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black, 2px 2px 2px black;
}

#wrapper {
    position: absolute;
    margin-left: 381px;
    margin-top: 3px;
    animation: pulse 1s infinite;
}

.selection_indicator {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}