body {
    background-color: #152740;
    font-family: 'comic_panelsregular', sans-serif;
    font-size: 30px;
    line-height: 1.8em;
    margin: 0;
}

.point-display{
    font: 1em sans-serif;
    color: #FCFCFD;
    font-size: 50px;
}

.top-bar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.top-bar-img {
    width: auto;
    height: 50px;
}

.bottom-bar {
    display: flex;
    justify-content: center;
}

.game-canvas {
    display: flex;
    transform-origin: left top;
    width: 1880px;
}

.cards-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform-origin: left top;
    width: 1620px;
}

.explanation-bar {
    display: flex;
    flex-direction: column;
}

.explanation-bar-item, .pearl-index {
    width: 50px;
    height: 200px;
}

.headline {
    margin: 10px 20px;
    text-align: center;
    color: #FCFCFD;
}

.players {
    display: flex;
}

.player1, .player2 {
    float: left;
    width: 650px;
    min-height: 300px;
    box-sizing: border-box;
}

.player1 {
    padding-right: 670px;
}

.player2 {
    float: right;
    padding-right: 10px;
}

.game-over {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 300px;
}

.card-container {
    min-width: 230px;
    width: 650px;
    text-align: center;
    line-height: 0;
}

.card-img-container {
    display: inline-block;
    position: relative;
}

.card-image {
    width: 600px;
}

.header {
    text-align: center;
    width: 650px;
    color: #FCFCFD;
    font: 1em sans-serif;
    font-size: 22px;
}

.h1, h2 {
    padding: 44px;
    text-align: center;
    border: 4px solid pink;
}

.effectiveness_overlay, .sti-protection_overlay, .cost_overlay, .accessibility_overlay, .side-effects_overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.effectiveness_overlay {
    top: 55.1%;
}

.sti-protection_overlay {
    top: 62.6%;
}

.cost_overlay {
    top: 70.2%;
}

.accessibility_overlay {
    top: 78.1%;
}

.side-effects_overlay {
    top: 85.8%;
}

.effectiveness, .sti-protection, .cost, .accessibility, .side-effects {
    position: absolute;
    right: 14%;
    color: darkcyan;
    font-size: 32px;
    text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black, 0 -2px 4px black;
}

.effectiveness {
    bottom: 39.0%;
}

.sti-protection {
    bottom: 31.3%;
}

.cost {
    bottom: 23.5%;
}

.accessibility {
    bottom: 15.7%;
}

.side-effects {
    bottom: 8.1%;
}

.next-round-button-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.next-round-button {
    display: flex;
    visibility: hidden;
    justify-content: center;
    width: 90px;
    height: 60px;
    font: 1em sans-serif;
    font-size: 25px;
    background-color: #cab8ff;
    border: none;
    color:#F4EFEF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 #d1c2fd, 0 3px 10px 0 #d1c2fd;
}

.next-round-button:hover {
    background-color: #e7e0fc;
    color:#152740;
}

@font-face {
    font-family: 'comic_panelsregular';
    src: url('fonts/comicpanels-byvg-webfont.woff2') format('woff2'),
    url('fonts/comicpanels-byvg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tooltip {
    width: 50px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text-pearl-index {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #cab8ff;
    color: #152740;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-pearl-index {
    visibility: visible;
}

.tooltip .tooltip-text-STI {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #FFD33B;
    color: #152740;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-STI {
    visibility: visible;
}

.tooltip .tooltip-text-cost {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #FF66C4;
    color: #152740;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-cost {
    visibility: visible;
}

.tooltip .tooltip-text-accessibility {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #F4EFEF;
    color: #152740;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-accessibility {
    visibility: visible;
}


.tooltip .tooltip-text-side-effects {
    font: 1em sans-serif;
    visibility: hidden;
    width: 600px;
    background-color: #B4F1F4;
    color: #152740;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: +30px;
    right: -665px;
}

.tooltip:hover .tooltip-text-side-effects {
    visibility: visible;
}





.lib-top-bar {
    display: flex;
    justify-content: center;
    font: 1em sans-serif;
    color: #FCFCFD;
    padding-top: 15px;
    padding-bottom: 15px;
}


.card-lib-organizer {
    display: flex;
    padding-bottom: 1em;
}